@media all and (min-width: 768px){
    .nav-htablet {
        height: 6rem;
        width: 100%;
        position: fixed;
        z-index:1;
        top:0;
        left: 0;
        font-family: var(--font-family-Rubik);
        font-size: 1.6rem;
        color: white;
        text-transform: uppercase;
        font-weight:500;
    }

    .ul-header-box-tablet {
        display: flex; 
        justify-content: right;
        gap: 1.8rem;
        font-size: 1.5rem;
        color: white;
        text-transform: uppercase;
        font-weight: 500;
        line-height: 1.88;
        margin-top: 6rem;
        font-family: var(--font-family-Rubik);
        list-style: none;
        transform: translateY(-150%);
        padding-right: 4.5rem;
        }
        
        .link {
            text-decoration: none;
        }
    
        .ul-header-box-tablet .div-header h1 {
          display: flex;
        }
    
        .div-header h1 {
            justify-content: space-between;
            padding-left: 4.5rem;
        }
       .nav-header {
            display: none; 
       }

    .div-lema {
        transform: translateY(0rem);
        width: 45rem;
        height: 8rem;
        opacity: 70%;
    }
    .text-lema {
        width: 90%;
        height: 4rem;
        opacity: 100%;
      }

     .footer {

        display: flex;
        justify-content: space-between;
        height: 17rem;
        padding: 2rem 0rem 0rem 0rem;
        
        
        
     }

     .div-teamlogo {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 50%;
        margin-left: 3rem;
    }
    
    .fteam {
        text-align: left;
    }

     .flogot {
        width: 11.59rem;
        height: 4.5rem;
        display: block;
        justify-content: center;
        padding-top: 1;
     }

    .fnav {
        width: 50%;
        justify-content: right;
    
        
    }

    .flogo {

        display: none;


    }
    .flist {
        margin: 0rem 3rem 0rem 0rem;
        height: auto;
        line-height: 3rem;
        text-align: right;
        color: var(--coolgrey); 
    }
}