<article class="article-content">
  <div class="photo">
    <img src="@@photo" alt="foto de @@name" srcset="" class="photo-us" />
  </div>
  <div class="text-description">
   <h3 class="names">@@name</h3>
   <p class="description-us">@@description</p>
   <nav>
    <ul class="social-media">
      <li>
        <a class="icon" href="https://twitter.com/@@tw" target="_blank">
          <i class="fa-brands fa-x-twitter"></i>
        </a>
      </li>
      <li>
        <a class="icon" href="https://www.linkedin.com/in/@@lk" target="_blank">
          <i class="fa-brands fa-linkedin-in"></i>
        </a>
      </li>
      <li>
        <a class="icon" href="https://github.com/@@gh" target="_blank">
          <i class="fa-brands fa-github-alt"></i>
        </a>
      </li>
      <li>
        <a class="icon blank" href="mailto:@@mail" target="_blank">
          <i class="fa-solid fa-envelope"></i>
        </a>
      </li>
    </ul>
  </nav>
</div>
</article>