<section class="description">
  <h2 class="h2-who">Quiénes somos</h2>
  <article class="article-content">
    <div class="photo">
      <img
        src="./assets/images/CrisGryffindor.jpg"
        alt="Foto de Cris"
        srcset=""
        class="photo-us"
      />
    </div>
    <div class="text-description">
      <h3 class="names">Cris</h3>
      <p class="description-us">
        Mi nombre es Cris y vivo en Madrid. Antigua Store Manager, actual
        Adalaber y futura programadora. A mis 33 años me sigue encantando
        aprender y he descubierto en la programación un mundo de posibilidades
        para crear cosas nuevas y que además, ¡funcionen! No es fácil aprender
        algo nuevo pero a veces sólo hay que salir fuera, despejar la cabeza,
        recordar quién eres y dónde quieres estar.
      </p>
      <nav>
        <ul class="social-media cris">
          <li>
            <a
              class="icon"
              href="https://twitter.com/crisnicosmile"
              target="_blank"
            >
              <i class="fa-brands fa-x-twitter"></i>
            </a>
          </li>
          <li>
            <a
              class="icon"
              href="https://www.linkedin.com/in/ristina-nicolas-morata"
              target="_blank"
            >
              <i class="fa-brands fa-linkedin-in"></i>
            </a>
          </li>
          <li>
            <a
              class="icon"
              href="https://github.com/cristinanicoh"
              target="_blank"
            >
              <i class="fa-brands fa-github-alt"></i>
            </a>
          </li>
          <li>
            <a
              class="icon blank"
              href="mailto:crisniko3@hotmail.com"
              target="_blank"
            >
              <i class="fa-solid fa-envelope"></i>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </article>
  <article class="article-content">
    <div class="photo">
      <img
        src="./assets/images/YsaStlytherin.png"
        alt="foto de Ysa"
        srcset=""
        class="photo-us"
      />
    </div>
    <div class="text-description">
      <h3 class="names even">Ysa</h3>
      <p class="description-us even">
        Soy Ysa, tengo 33 años, y estudié Historia del Arte. Trabajo como
        gestora en una compañia de seguros pero decidí tomar la decisión de
        cambiar de sector. Estoy emocionada por empezar mis primeros pasos en la
        programación, aprender y superarme para convertirme una gran
        profesional.
      </p>
      <nav>
        <ul class="social-media even">
          <li>
            <a class="icon" href="https://twitter.com/ysa_fvr8" target="_blank">
              <i class="fa-brands fa-x-twitter"></i>
            </a>
          </li>
          <li>
            <a
              class="icon"
              href="https://www.linkedin.com/in/ysabel-valencia-ramirez-47b9b581"
              target="_blank"
            >
              <i class="fa-brands fa-linkedin-in"></i>
            </a>
          </li>
          <li>
            <a
              class="icon"
              href="https://github.com/ysabelvalencia"
              target="_blank"
            >
              <i class="fa-brands fa-github-alt"></i>
            </a>
          </li>
          <li>
            <a
              class="icon blank"
              href="mailto:ysavalencia@hotmail.com"
              target="_blank"
            >
              <i class="fa-solid fa-envelope"></i>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </article>
  <article class="article-content">
    <div class="photo">
      <img
        src="./assets/images/TereHufflepuff.png"
        alt="foto de Tere"
        srcset=""
        class="photo-us"
      />
    </div>
    <div class="text-description">
      <h3 class="names">Tere</h3>
      <p class="description-us">
        Me llamo Tere y soy de Sevilla, 35 primaveras. Vengo de la rama
        sanitaria y me he aventurado en este extremo proyecto porque me
        considero una persona inquieta y en constante cambio. Curiosa pero
        paciente, espero aprender mucho y...¡ASCENDIO!
      </p>
      <nav>
        <ul class="social-media cris">
          <li>
            <a
              class="icon"
              href="https://twitter.com/MtcastroG"
              target="_blank"
            >
              <i class="fa-brands fa-x-twitter"></i>
            </a>
          </li>
          <li>
            <a
              class="icon"
              href="https://www.linkedin.com/in/maria-teresa-castro-gonzález"
              target="_blank"
            >
              <i class="fa-brands fa-linkedin-in"></i>
            </a>
          </li>
          <li>
            <a
              class="icon"
              href="https://github.com/mteresacastro"
              target="_blank"
            >
              <i class="fa-brands fa-github-alt"></i>
            </a>
          </li>
          <li>
            <a
              class="icon blank"
              href="mailto:m.teresacastrogonzalez@gmail.com"
              target="_blank"
            >
              <i class="fa-solid fa-envelope"></i>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </article>
  <article class="article-content">
    <div class="photo">
      <img
        src="./assets/images/AlbaRavenclaw.png"
        alt="foto de Alba"
        srcset=""
        class="photo-us"
      />
    </div>
    <div class="text-description">
      <h3 class="names even">Alba</h3>
      <p class="description-us even">
        Soy Alba, vengo de Madrid y estudié psicología. Me aventuro en la
        programación, después de muchos años dándole vueltas, con muchas ganas
        de aprender y transformar mi carrera profesional.
      </p>
      <nav>
        <ul class="social-media even">
          <li>
            <a
              class="icon"
              href="https://twitter.com/developerdrm"
              target="_blank"
            >
              <i class="fa-brands fa-x-twitter"></i>
            </a>
          </li>
          <li>
            <a
              class="icon"
              href="https://www.linkedin.com/in/alba-gg-12990728a"
              target="_blank"
            >
              <i class="fa-brands fa-linkedin-in"></i>
            </a>
          </li>
          <li>
            <a class="icon" href="https://github.com/AlbaGG25" target="_blank">
              <i class="fa-brands fa-github-alt"></i>
            </a>
          </li>
          <li>
            <a
              class="icon blank"
              href="mailto:albaginesgarcia25@gmail.com"
              target="_blank"
            >
              <i class="fa-solid fa-envelope"></i>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </article>
</section>
