<section class="description">
    
      <include src="./article.html" name="Ysa" description="Tengo 33 años, estudié Historia del Arte. Trabajo como gestora en una compañia de seguros pero decidí tomar la decisión de cambiar de sector. Estoy emocionada por empezar mis primeros pasos en la programación, aprender y superarme para convertirme una gran profesional." photo="./assets/images/YsaStlytherin.png" tw="ysa_fvr8" lk="ysabel-valencia-ramirez-47b9b581" gh="ysabelvalencia" mail="ysavalencia@hotmail.com"></include>
    
   
    <include src="./article.html" name="Alba"
      description="Soy Alba, vengo de Madrid y estudié psicología. Me aventuro en la programación, después de muchos años dándole vueltas, con muchas ganas de aprender y transformar mi carrera profesional."
      photo="./assets/images/AlbaRavenclaw.png" tw="developerdrm" lk="alba-gg-12990728a" gh="AlbaGG25"
      mail="albaginesgarcia25@gmail.com">
    </include>
  
  </section>