<header class="header">
  <div class="div-header">
    <h1>Lumos Maxima</h1>
    <nav class="nav-htablet">
      <ul class="ul-header-box-tablet">
        <li class="header-box-item-tablet">
          <a class="link" href="#team">Equipo</a>
        </li>
        <li class="header-box-item-tablet">
          <a class="link" href="#who">Quiénes somos</a>
        </li>
        <li class="header-box-item-tablet">
          <a class="link" href="">Contactos</a>
        </li>
      </ul>
    </nav>
  </div>
  <nav class="nav-header">
    <ul class="ul-header-box">
      <li class="header-box-item">
        <a class="link" href="#team">Equipo</a>
      </li>
      <li class="header-box-item">
        <a class="link" href="#who">Quienes somos</a>
      </li>
      <li class="header-box-item">
        <a class="link" href="">Contactos</a>
      </li>
    </ul>
  </nav>
  <div class="div-lema">
    <span class="text-lema" id="team">
      “La felicidad puede hallarse en la oscuridad, si somos capaces de usar
      bien la luz.”
    </span>
  </div>
</header>
