<header class="header">
    <div class="div-header">
        <h1>Nombre del grupo</h1>
        <nav class="nav-htablet">
            <ul class="ul-header-box-tablet">
                <li class="header-box-item-tablet">
                    <a id="equipo" href="">Equipo</a>
                </li>
                <li class="header-box-item-tablet">Quienes somos</li>
                <li class="header-box-item-tablet">Contactos</li>
            </ul>
        </nav>
    </div>
    <nav class="nav-header">
        <ul class="ul-header-box">
            <li class="header-box-item">
                <a class="link" href="#team">Equipo</a>
            </li>
            <li class="header-box-item">
            <a class="link" href="#who">Quienes somos</a>
            </li>
            <li class="header-box-item">
                <a class="link" href="">Contactos</a>
            </li>
        </ul>
    </nav>
    <div class="div-lema">
        <span class="text-lema" id="team">Lema del equipo. Lorem ipsum dolor sit amet consectetur adipisicing
            elit.
        </span>
    </div>
</header>