<header class="header">
  <h1 class="header__title">Lumos Maxima</h1>
  <nav class="header__nav">
    <ul class="header__nav__box">
      <li class="header__nav__box--item">
        <a class="link" href="#team">Equipo</a>
      </li>
      <li class="header__nav__box--item">
        <a class="link" href="#who">Quienes somos</a>
      </li>
      <li class="header__nav__box--item">
        <a class="link" href="./contact.html">Contacto</a>
      </li>
    </ul>
  </nav>
  <div class="header__div">
    <span class="header__div--text" id="team">
      “La felicidad puede hallarse en la oscuridad, si somos capaces de usar
      bien la luz.”
    </span>
  </div>
</header>