<section class="points">
    <h2 class="h2-force">Fortalezas</h2>
    <p class="p-force">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio
        sunt sit, hic aut Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Molestias maxime ipsa, dolorum ipsam perspiciatis modi et
        voluptatem quas
    </p>
    <h2 class="h2-weakness">Debilidades</h2>
    <p class="p-weakness" id="who">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus
        accusamus quod vero sed Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Quos aspernatur aliquid eum odit mollitia saepe
        magnam ratione veniam
    </p>
</section>