<section class="section-team">
    <h2 class="team" >Equipo</h2>
    <p class="global-presentation one">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit sequi
        voluptatem in hic accusantium. esse temporibus recusandae nam dolorum
        repellat dolore dicta illum, perspiciatis aliquam veritatis error
        nulla?
    </p>
    <p class="global-presentation two">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
        culpa maxime, cum exceptura
    </p>
</section>