:root {
  --color-tittle: #516904;
  --color-parraf: #54585a;
  --color-form: #415303;
  --color-input: #6d6d03;
  --color-background: #7b891518;
  --color-background-form: #9191099e;
  --font-family-Rubik: 'Rubik', sans-serif;
  --font-family-OpenSans: 'Open sans', sans-serif;
  --font-family-October: 'October', sans-serif;
  --font-family-Matisan: 'Matisan', sans-serif;
  --color-subtitle: #919109;
  --coolgrey: #b8b8b9;
  --color-white: white;
  --color-gradient: linear-gradient(to bottom, #919109, #273202);
}
