:root {
    --color-tittle: #14d9c4;
    --color-parraf: #54585a;
    --color-background: rgba(184, 184, 185, 0.2);
    --font-family-Rubik: "Rubik", sans-serif;
    --font-family-OpenSans: "Open sans", sans-serif;
    --color-subtitle: #099d8d;
    --coolgrey: #b8b8b9;
}
