:root {
  --color-tittle: #516904;
  --color-parraf: #54585a;
  // --color-background: rgba(41, 46, 1, 0.162);
  --color-background: rgba(123, 137, 21, 0.093);
  --font-family-Rubik: 'Rubik', sans-serif;
  --font-family-OpenSans: 'Open sans', sans-serif;
  --color-subtitle: #919109;
  --coolgrey: #b8b8b9;
}
