.team {
  padding-top: 9rem;
  padding-bottom: 0rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  @media (min-width: 768px) {
    margin-bottom: 3rem;
    padding-top: 5rem;
  }

  &__title {
    color: var(--color-tittle);
    font-family: var(--font-family-Rubik);
    font-size: 2.4rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
  }

  &__presentation {
    font-family: var(--font-family-OpenSans);
    font-size: 1.6rem;
    color: var(--color-parraf);
    text-align: center;
    font-weight: 400;
    margin-top: 1.5rem;

    @media (min-width: 768px) {
      font-size: 2rem;
      padding-right: 4.5rem;
      padding-left: 4.5rem;
    }

    &--two {
      margin-top: 2rem;
      margin-bottom: 3rem;
    }
  }
}

.square {
  width: 3rem;
  height: 3rem;
  z-index: 0.9;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 50%) rotate(45deg);
  background-color: var(--color-white);
}

.description {
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 2.4rem;
  background-color: var(--color-background);
  width: 100%;
  font-family: var(--font-family-OpenSans);
  font-size: 1.6rem;
  color: var(--color-parraf);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 3rem;
  padding-bottom: 4.5rem;

  @media (min-width: 768px) {
    flex-direction: row;
    padding-left: 4.5rem;
    padding-right: 4.5rem;
    padding-top: 4.5rem;
    gap: 3rem;
  }

  &__box {
    @media (min-width: 768px) {
      max-width: 50%;
    }

    &__title {
      color: var(--color-subtitle);
      text-align: center;
      margin-top: 3rem;
      font-family: var(--font-family-Rubik);
      font-size: 2.2rem;
      font-weight: 500;
      margin-bottom: 1.1rem;
      margin-top: 1.1rem;
    }
    &__paragraph {
      margin-bottom: 3rem;
      @media (min-width: 768px) {
        font-size: 2rem;
      }
    }
  }
}

.about-us {
  padding-top: 3rem;
  padding-bottom: 4.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 6rem;

  &__title {
    font-family: var(--font-family-Rubik);
    text-transform: uppercase;
    color: var(--color-subtitle);
    font-weight: 500;
    font-size: 2.4rem;
    text-align: center;
    margin-top: 3rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 768px) {
      flex-wrap: wrap;
      gap: 1.5rem;
    }

    &:nth-child(even) {
      @media (min-width: 768px) {
        flex-direction: row;
        text-align: right;
        padding-left: 3rem;
      }
    }

    &:nth-child(odd) {
      @media (min-width: 768px) {
        flex-direction: row-reverse;
        padding-left: 4.5rem;
      }
    }

    .box-photo {
      width: 18rem;
      height: 18rem;
      overflow: hidden;
      border: 5px solid lightgrey;
      border-radius: 6%;

      @media (min-width: 768px) {
        width: 20.5rem;
        height: 20.5rem;
      }
      @media (min-width: 1200px) {
        width: 25rem;
        height: 25rem;
      }

      &__photo {
        display: block;
        box-sizing: content-box;
        width: 100%;
        border-radius: 3%;

        @media (min-width: 768px) {
          box-sizing: border-box;
        }
      }
    }
  }

  &__box-description {
    @media (min-width: 768px) {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      max-width: 44.2rem;
      height: 20.5rem;
      text-align: left;
    }

    &--even {
      @media (min-width: 768px) {
        text-align: right;
      }
    }

    &__names {
      font-family: var(--font-family-Matisan);
      color: var(--color-tittle);
      font-size: 3rem;
      line-height: 4.5rem;
      font-weight: 400;
    }

    &__description {
      font-family: var(--font-family-OpenSans);
      font-size: 1.6rem;
      line-height: 2.4rem;
      color: var(--color-parraf);
    }
  }

  &__social-media {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 1.5rem;
    font-size: 2rem;
    @media (min-width: 768px) {
      justify-content: flex-end;
    }

    &--odd {
      @media (min-width: 768px) {
        justify-content: flex-start;
      }
    }
  }

  &__icon {
    text-decoration: none;
    color: var(--color-tittle);

    &::after {
      content: '·';
      color: var(--color-tittle);
    }

    &:hover {
      color: var(--color-subtitle);
    }

    &--blank {
      &::after {
        content: none;
      }
    }
  }
}
