<section class="description">
  <div class="description__box">
    <h2 class="description__box__title">Fortalezas</h2>
    <p class="description__box__paragraph">
      El equipo tiene lo mejor de cada casa: valentía, inteligencia, ambición y
      trabajo duro. Estas cualidades harán que el equipo pueda trabajar en
      sintonía y resolver cualquier contratiempo que se les ponga por delante.
      Como dice nuestro lema, para nosotras prevalece la luz al final del
      camino.
    </p>
  </div>
  <div class="description__box">
    <h2 class="description__box__title">Debilidades</h2>
    <p class="description__box__paragraph">
      Aunque somos estupendas y tenemos muchas ganas de trabajar, no podemos
      ignorar que nos falta experiencia. Por eso en ocasiones podemos ir más
      lento de lo esperado. Pero con un poquito de magia y movimiento de
      varita... ¡aquí no ha pasado nada!
    </p>
  </div>
</section>
