<footer class="footer">
  <div class="box-logo">
    <span class="box-logo__copy">Lumos Maxima © 2023</span>
    <a href="../project.html" target="_blank">
      <img
        class="box-logo__logo"
        src="./images/varita-magica.png"
        alt="Es el logo"
      />
    </a>
  </div>
  <nav class="footer-nav">
    <ul class="footer-nav__list">
      <li>
        <a class="footer-nav__list__link" href="#team">Equipo</a>
      </li>
      <li>
        <a class="footer-nav__list__link" href="#who">Quiénes somos</a>
      </li>
      <li>
        <a class="footer-nav__list__link" href="../contact.html" target="_blank"
          >Contacto</a
        >
      </li>
      <li>
        <a class="footer-nav__list__link" href="../project.html" target="_blank"
          >Sobre este proyecto</a
        >
      </li>
    </ul>
  </nav>
  <a href="../project.html" target="_blank">
    <img
      class="footer__logo2"
      src="./images/varita-magica.png"
      alt="Es el logo"
    />
  </a>
</footer>
