<h1 class="title">
  <a class="title__link" href="./">Lumos Maxima</a>
</h1>
<nav class="nav">
  <ul class="nav__box">
    <li class="nav__box__item">
      <a class="link" href="../index.html#team">Equipo</a>
    </li>
    <li class="nav__box__item">
      <a class="link" href="../index.html#who">Quiénes somos</a>
    </li>
    <li class="nav__box__item">
      <a class="link" href="./contact.html">Contacto</a>
    </li>
  </ul>
</nav>
<div class="div">
  <span class="div__text" id="team">
    “La felicidad puede hallarse en la oscuridad, si somos capaces de usar bien
    la luz.”
  </span>
</div>
