:root {
    --color-tittle: #14d9c4;
    --color-parraf: #54585a;
    --color-background: rgba(184, 184, 185, 0.1);
    --font-family-Rubik: "Rubik", sans-serif;
    --font-family-OpenSans: "Open sans", sans-serif;
    --color-subtitle: #099d8d;
}

html {
    font-size: 62.5%;
}

.header {
    width: 100%;
    height: 40rem;
    /* display: block; */
    background-image: url("https://images.pexels.com/photos/5706206/pexels-photo-5706206.jpeg?auto=compress&cs=tinysrgb&w=1600") ;
    background-size: cover;
}
.div-header h1{
    background-color: #099D8D;
    height: 6rem;
    width: 100%;
    opacity: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index:1;
    top:0;
    left: 0;
    font-family: var(--font-family-Rubik);
    font-size: 1.6rem;
    color: white;
    text-transform: uppercase;
    font-weight:500;
}
.nav-header {
    width: 100%;
    height: 4.5rem;
    font-size: 1.5rem;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1.88;
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 6rem;
    font-family: var(--font-family-Rubik);
    background-color: #14D9C4;
    justify-content: center;
    z-index:1;
    opacity: 95%;
    padding:1.08rem;
}

.ul-header-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-box-item {
    list-style: none;
}
.div-lema {
    background-color: white;
    width: 26rem;
    height: 5rem;
    position: sticky;
    top: 78.50%;
    left: 10%;
    font-family:var(--font-family-OpenSans);
    font-size: 1.8rem;
    padding-left: 2rem;
    padding-top: 1rem;
}


.section-team {
    padding-top: 90px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
}

.team {
    color: var(--color-tittle);
    font-family: var(--font-family-Rubik);
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
}

.global-presentation {
    font-family: var(--font-family-OpenSans);
    font-size: 16px;
    color: var(--color-parraf);
    text-align: center;
    font-weight: 400;
}
.square {
    width: 30px;
    height: 30px;
    z-index: 100;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-100%, 100%) rotate(45deg);
    padding-bottom: 0%;
    background-color: white;
    border: 2px solid blue;
}

.points {
    background-color: var(--color-background);
    margin-left: 15px;
    margin-right: 15px;
    width: 100%; /*seguir por aqui*/
}
.points h2{
    color: var(--color-subtitle);
    text-align: center;
    margin-top: 30px;
    font-family: var(--font-family-Rubik);
    font-size: 22px;
    font-weight: 500;
    
}
.points p{

}

.footer {
    font-family: var(--font-family-OpenSans);
    text-align: center;
    width: 32rem;
    height: 25rem;
    padding: 3rem 7.4rem 4.5rem;
    border: solid 1px;
}

.fteam {
    width: 17.2rem;
    height: 2rem;
    margin: 0 0 2rem;
    font-size: 1.4rem;
    color: #b8b8b9;
    line-height: 2rem;
}

.flist {
    list-style: none;
    text-transform: uppercase;
    font-size: 1.4rem;
    line-height: 2rem;
    color: #54585a;
    width: 11.4rem;
    height: 6rem;
    margin: 2rem 2.9rem 3rem;
    opacity: 0.75;
}

.flogo {
    width: 11.59rem;
    height: 4.5rem;
    margin: 0 2.81rem 0 2.8rem;
}

.footer {
    font-family: var(--font-family-OpenSans);
    text-align: center;
    width: 32rem;
    height: 25rem;
    padding: 3rem 7.4rem 4.5rem;
    border: solid 1px;
}

.fteam {
    width: 17.2rem;
    height: 2rem;
    margin: 0 0 2rem;
    font-size: 1.4rem;
    color: #b8b8b9;
    line-height: 2rem;
}

.flist {
    list-style: none;
    text-transform: uppercase;
    font-size: 1.4rem;
    line-height: 2rem;
    color: #54585a;
    width: 11.4rem;
    height: 6rem;
    margin: 2rem 2.9rem 3rem;
    opacity: 0.75;
}

.flogo {
    width: 11.59rem;
    height: 4.5rem;
    margin: 0 2.81rem 0 2.8rem;
}